.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.scale-box {
 /* border: 1px rgb(145, 126, 126) solid; */
  border-radius: 10px;
  text-align: center;
  width: 50%;
  background-color: aqua;
  display: block;
  margin: 20px;
}


.text {
  font-size: 5em;
}
